fastapi==0.111.0
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic-settings
pydantic[email]
dependency-injector
sqlalchemy
psycopg2-binary
jinja2
python-multipart
python-dotenv
slowapi
redis

# Dev / Test
pytest
pytest-cov
httpx
ruff
pre-commit
